<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>
  <section>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </section>
  <%= link_to image_tag("san_fran.png", class: "img-responsive center-block", id: "mainPic", alt: "Chase doing backflips & link to instagram"),
              'https://www.instagram.com/alwaysonthechase/' %>
</div>



<%= link_to image_tag("rails.png", class: "img-rounded", width: "60", height: "80", alt: "Chase backflip & link to instagram"),
            'https://www.instagram.com/alwaysonthechase/' %>
