<%= form_for(@micropost, remote: true, url: micropost_path(params[:id])) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: @micropost.content %>
  </div>
  <%= f.submit "Update", class: "btn btn-primary" %>
<% end %>
